<style>
  body{
background-image: url('https://img.freepik.com/premium-vector/sweet-pear-seamless-pattern-organic-healthy-fruits-background_721813-717.jpg');
  }
</style>
<h1 class="display-1 text-center mb-3">{{title}}</h1>
<h4>Fruits</h4>
<ul class="list-group">{{#each fruits}}
    <li class="list-group-item"><span class="fw-bold">{{this.name}}</span><br><span>Family :</span> {{this.family}}</li>
  {{/each}}
</ul>

<a href="/api/fruits" class="btn btn-light mt-4">Visit API</a>
