<style>
  body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtwZT7X_aE1yOVvyyGky7Kht79fAGAMoo7vvMt9SE4Ej4Jlxap5Ntw2WUfiswsieNTe3I&usqp=CAU');
  }
</style>
<h1 class="display-1 text-center mb-3">{{title}}</h1>
<h4>Quotes</h4>
<ul class="list-group overflow-y-scroll" style="height: 60vh;">{{#each quotes}}
    <li class="list-group-item"><spa class="fw-bold"><blockquote>{{this.quote}}</blockquote></spa><br>{{this.author}}</li>
  {{/each}}
</ul>

<a href="/api/quotes" class="btn btn-light mt-4 border border-2 border-black">Visit API</a>
